#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

config APP_N25QXX_DEMO
	bool "\"n25qxx_demo\" Application"
	default n
	---help---
		Enable the n25qxx_demo application

if APP_N25QXX_DEMO

config APP_N25QXX_DEMO_PROGNAME
	string "Program name"
	default "n25qxx_demo"
	---help---
		This is the name of the program that will be use when the NSH ELF
		program is installed.

config APP_N25QXX_DEMO_PRIORITY
	int "Task priority"
	default 100

config APP_N25QXX_DEMO_STACKSIZE
	int "Stack size"
	default 2048

endif
